.header
  display: flex
  width: 100%
  padding: 22px 0 0 83px

  @media (max-width: 768px)
    padding-left: 0
    justify-content: center


.header__logo
  position: relative
  display: flex
  align-items: center
  text-decoration: none
  z-index: 10



.header__logo-text
  font-size: 22px
  line-height: 100%
  color: #fff
  font-weight: 500

  @media (max-width: 768px)
    font-size: 20px

.header__logo-img
  display: flex

  &::after
    flex-shrink: 0
    content: ''
    display: block
    width: 3px
    height: 48px
    margin: 0 25px 0 24px
    background: #fff


  @media (max-width: 768px)
    &::after
      margin: 0 17px
