.home__prizes
  .home__prizes-subtitle Призы
  h3.home__prizes-title Три крутые стирально-сушильные машины Haier

  .home__prizes-content
    .home__prizes-description
      .home__prizes-item
        img(src="./icons/cart.svg", alt="cart img")
        span Вместимость до 8 кг белья
      .home__prizes-item
        img(src="./icons/t-shirt.svg", alt="t-shirt img")
        span Программа быстрого освежения паром
      .home__prizes-item
        img(src="./icons/circle.svg", alt="circle img")
        span Бесшумная работа
      .home__prizes-item
        img(src="./icons/scales.svg", alt="scales img")
        span Функция автовзвешивания и экономии ресурсов
    img(src="./prizes-n.png", alt="").home__prizes-img
