.home__prizes
  .home__prizes-bubbles#prizes__scene
    img(src="./images/b-b-l-sm.png", alt="", data-depth="0.1").home__prizes-bubble.home__bubble.home__bubble--left
    img(src="./images/b-b-l-mid.png", alt="", data-depth="0.3").home__prizes-bubble.home__bubble.home__bubble--left

    img(src="./images/b-b-r-sm.png", alt="", data-depth="0.1").home__prizes-bubble.home__bubble.home__bubble--right
    img(src="./images/b-b-r-mid.png", alt="", data-depth="0.3").home__prizes-bubble.home__bubble.home__bubble--right

  .home__prizes-subtitle Призы
  h3.home__prizes-title
    span Три крутые
    span стирально-сушильные машины Haier

  .home__prizes-content
    .home__prizes-description
      .home__prizes-item
        img(src="./icons/cart.svg", alt="cart img")
        span Вместимость до 8 кг белья
      .home__prizes-item
        img(src="./icons/t-shirt.svg", alt="t-shirt img")
        span Программа быстрого освежения паром
      .home__prizes-item
        img(src="./icons/circle.svg", alt="circle img")
        span Бесшумная работа
      .home__prizes-item
        img(src="./icons/scales.svg", alt="scales img")
        span Функция автовзвешивания и экономии ресурсов
    img(src="./images/prizes-n.png", alt="").home__prizes-img
