extends /layout/app

block content
  .home
    include ../../layout/header/header
    .home__content
      .home__bubbles#scene
        img(src="./images/left-sm-bubbles.png", alt="", data-depth="0.1").home__bubble.home__bubble--left
        img(src="./images/left-middle-bubbles.png", alt="", data-depth="0.3").home__bubble.home__bubble--left
        img(src="./images/left-big-bubbles.png", alt="",data-depth="0.5").home__bubble.home__bubble--left
        img(src="./images/right-middle-bubbles.png", alt="", data-depth="0.1").home__bubble.home__bubble--right
        img(src="./images/right-sm-bubbles.png", alt="", data-depth="0.3").home__bubble.home__bubble--right
        img(src="./images/right-big-bubbles.png", alt="", data-depth="0.5").home__bubble.home__bubble--right

      img(src="./images/wm-phone.png", alt="washing mashine").home__content-image

      .home__content-text
        .home__content-subtitle Танцевальный челлендж
        img(src="./images/Union.svg").home__content-title

        .home__content-description Покажи миру свою Haieroграфию и выиграй одну из трех стиральных машин Haier!

        a(href="https://vm.tiktok.com/ZSJgw6rdG/", target="_blank").home__content-hash Челлендж и маска

        .home__content-period с 19 июля по 19 августа 2021

    include ./about/about
    include ./prizes/prizes

