.home__about
  position: relative
  max-width: 1320px
  margin-right: 16px
  margin-top: -133px
  padding: 100px 0 64px 120px
  background: #1B034B
  border-top-right-radius: 60px
  border-bottom-right-radius: 60px

  @media( max-width: 1180px)
    margin-top: 20px

  @media(max-width: 1320px)
    padding: 90px 8px 62px 50px

  @media( max-width: 560px)
    padding: 64px 8px 62px 16px

.home__about-subtitle
  margin-bottom: 5px
  font-size: 24px
  line-height: 1.25
  color: #fff

  @media( max-width: 560px)
    font-size: 20px
    margin-bottom: 8px

.home__about-title
  margin-bottom: 77px
  font-size: 48px
  line-height: 1
  color: #fff
  @media( max-width: 920px)
    font-size: 40px

  @media( max-width: 768px)
    margin-bottom: 50px


  @media( max-width: 560px)
    margin-bottom: 32px
    font-size: 32px

  span
    &:not(:last-child)
      margin-right: 7px

    @media( max-width: 768px)
      display: block
      margin: 0

.home__about-text
  max-width: 140px
  font-size: 16px
  line-height: 1.25
  color: #fff
  font-family: $font-family-secondary

  a
    color: #EC6AFF
    font-family: inherit
    transition: text-decoration .3s
    &:last-child
      margin: 0 5px

    &:hover
      text-decoration: none

  span
    display: block

  @media( max-width: 1024px)
    max-width: unset
    span
      display: inline-block

  @media(max-width: 768px)
    font-size: 14px

.home__about-steps
  display: flex
  margin-bottom: 76px

  @media( max-width: 1024px)
    flex-direction: column
    align-items: start

  @media( max-width: 560px)
    margin-bottom: 48px

.home__about-step
  flex-shrink: 0

  @media( max-width: 1024px)
    display: flex
    align-items: center

  @media( max-width: 560px)
    &:not(:last-child)
      margin-bottom: 23px

.home__about-number
  margin-bottom: 6px
  font-size: 96px
  line-height: 1
  color: #fff

  @media( max-width: 1024px)
    margin: 0 16px 9px
    font-size: 64px


.home__about-arrow
  position: relative
  height: 160px
  width: 40px
  margin: 9px 20px 0 47px
  flex-shrink: 0

  span
    position: absolute
    width: 2px
    height: 90px
    background: #fff
    border-radius: 2px
    transition: box-shadow .7s ease-in-out

    &:first-child
      top: 0
      left: 0
      transform: rotate(-26.5deg)

    &:last-child
      bottom: -10px
      left: 0
      transform: rotate(26.5deg)

  @media(max-width: 1320px)
    margin: 9px 10px 0 17px

  @media(max-width: 1024px)
    width: 120px
    height: 30px
    margin: 0 0 23px
    transform: translateY(0)

    span
      width: 67px
      height: 2px

      &:first-child
        top: 0
        left: 0
        transform: rotate(25deg)
        transform-origin: top left

      &:last-child
        top: 0
        right: 0
        left: auto
        bottom: auto
        transform: rotate(-25deg)
        transform-origin: top right

.home__about-arrow--highlight
  span
    box-shadow: 0px 0px 13px 6px #d722f3, 0px 0px 8px 0px #EC6AFF, 0px 0px 20px 4px #EC6AFF, 0px 0px 20px 0px #EC6AFF, inset 0px 0px 1px 0px #EC6AFF

.home__about-description
  margin-bottom: 32px
  font-size: 24px
  line-height: 1.25
  color: #fff

  @media( max-width: 768px)
    margin-bottom: 24px
    font-size: 16px

.home__about-rules
  font-size: 20px
  line-height: 1.25
  color: #EC6AFF
  font-family: $font-family-secondary
  transition: text-decoration .3s

  &:hover
    text-decoration: none

  @media( max-width: 768px)
    font-size: 16px

// @for $i from 1 through 4
//   .home__about-arrow--#{$i}
//     span
//       animation-name: highlight
//       animation-delay: $i * 1s
//       animation-iteration-count: infinite
//       animation-timing-function: ease
//       animation-duration: 12s



@keyframes highlight
  0%
    box-shadow: 0px 0px 13px 6px #25f4ee, 0px 0px 8px 0px #67ffff, 0px 0px 20px 4px #67ffff, 0px 0px 20px 0px #67ffff, inset 0px 0px 1px 0px #67ffff
  90%
    box-shadow: 0px 0px 13px 6px #25f4ee, 0px 0px 8px 0px #67ffff, 0px 0px 20px 4px #67ffff, 0px 0px 20px 0px #67ffff, inset 0px 0px 1px 0px #67ffff
  100%
    box-shadow: none
