footer.footer
  .footer__hash #Haierография
  a(href="https://haieronline.ru/", target="_blank")
    img(src="./icons/Logo-Haier.svg", alt="haier logo").footer__logo
  .footer__copyrights © 2021 Haier Inc.
